* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

html {
  height: 100vh;
}

html body {
  font-family: "Roboto", sans-serif;
  background-image: url(/images/background-image.jpg?cd7d13c87e59faad19c34ab5285dc0d0);
  background-size: cover;
  height: 100%;
}

html body main {
  height: 100%;
}

#create {
  margin: 50px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#create .create-nav {
  padding-bottom: 20px;
}

#create .create-nav a {
  font-size: 70px;
  color: black;
  font-weight: 900;
  text-shadow: 2px 2px 24px white;
  text-decoration: none;
}

#create .create-nav a:hover {
  text-decoration: underline;
}

#create form {
  box-shadow: 2px 2px 24px white;
  border-radius: 7px;
  margin-top: 100px;
  width: 60%;
  padding: 50px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  background-color: #949494;
}

#create form span {
  font-weight: 900;
  text-transform: uppercase;
}

#create form input[type=submit] {
  margin-top: 20px;
  background-color: #069420;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}

#create form input[type=submit]:hover {
  background-color: #011d06;
  box-shadow: 2px 2px 24px blue;
}

#create form input {
  padding: 0 10px;
  color: white;
  background-color: #420420;
  border-radius: 7px;
  width: 50%;
  box-shadow: 2px 2px 24px black;
  line-height: 30px;
  margin-bottom: 10px;
}

#create form.delete {
  padding: 5px;
  margin-top: 30px;
  text-align: center;
  background-color: #069420;
  border-radius: 7px;
  width: 60%;
  box-shadow: 2px 2px 24px black;
  line-height: 30px;
}

#create form.delete:hover {
  background-color: #011d06;
  box-shadow: 2px 2px 24px white;
}

#create form.delete input {
  color: white;
  background-color: transparent;
}

#edit {
  margin: 50px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#edit .edit-nav {
  padding-bottom: 20px;
}

#edit .edit-nav a {
  font-size: 70px;
  color: black;
  font-weight: 900;
  text-shadow: 2px 2px 24px white;
  text-decoration: none;
}

#edit .edit-nav a:hover {
  text-decoration: underline;
}

#edit form.edit {
  box-shadow: 2px 2px 24px white;
  border-radius: 7px;
  margin-top: 100px;
  width: 60%;
  padding: 50px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  background-color: #949494;
}

#edit form.edit span {
  font-weight: 900;
  text-transform: uppercase;
}

#edit form.edit input[type=submit] {
  margin-top: 20px;
  background-color: #069420;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}

#edit form.edit input[type=submit]:hover {
  background-color: #011d06;
  box-shadow: 2px 2px 24px blue;
}

#edit form.edit input {
  padding: 0 10px;
  color: white;
  background-color: #420420;
  border-radius: 7px;
  width: 50%;
  box-shadow: 2px 2px 24px black;
  line-height: 30px;
  margin-bottom: 10px;
}

#edit form.delete {
  padding: 5px;
  margin-top: 30px;
  text-align: center;
  background-color: #069420;
  border-radius: 7px;
  width: 60%;
  box-shadow: 2px 2px 24px black;
  line-height: 30px;
}

#edit form.delete:hover {
  background-color: #011d06;
  box-shadow: 2px 2px 24px white;
}

#edit form.delete input {
  color: white;
  background-color: transparent;
}

#index {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
}

#index .index-nav {
  font-size: 70px;
  text-align: center;
  padding: 50px;
}

#index .index-nav a {
  text-decoration: none;
  padding: 50px;
  color: black;
  font-weight: 900;
  text-shadow: 2px 2px 24px white;
}

#index .index-nav a:hover {
  text-decoration: underline;
  color: gray;
  text-shadow: 0 0 5px blue;
}

#index .cards-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

#index .cards-container .card {
  /* width */
  /* Track */
  /* Handle */
  box-shadow: 2px 2px 24px blue;
  border-radius: 7px;
  background-color: #996F11;
  margin: 100px 15px;
  padding: 30px 15px;
  width: calc(100%/3 - 30px);
  text-align: center;
}

#index .cards-container .card:hover {
  box-shadow: 2px 2px 24px white;
  background-color: #949494;
}

#index .cards-container .card:hover img {
  box-shadow: 2px 2px 24px blue;
}

#index .cards-container .card ::-webkit-scrollbar {
  width: 10px;
}

#index .cards-container .card ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

#index .cards-container .card ::-webkit-scrollbar-thumb {
  background: #2B3139;
  border-radius: 10px;
}

#index .cards-container .card a {
  text-decoration: none;
}

#index .cards-container .card a img {
  border-radius: 7px;
  box-shadow: 2px 2px 24px white;
}

#index .cards-container .card a h2 {
  font-weight: 900;
  padding-top: 20px;
  color: black;
  text-shadow: 2px 2px 24px white;
}

#index .cards-container .card a h3 {
  text-shadow: 0 0 20px blue;
  font-size: 25px;
  color: white;
}

#index .cards-container .card a h4 {
  padding-top: 20px;
  text-transform: uppercase;
  text-shadow: 0 0 10px white;
}

#index .cards-container .card a p {
  font-weight: 900;
  color: black;
  border-radius: 7px;
  background-color: #A18647;
  margin: 20px 0;
  padding: 20px 10px;
  height: 150px;
  overflow-y: scroll;
  text-shadow: 0 0 1px yellow;
}

#index .cards-container .card h2 {
  padding-bottom: 20px;
}

#index .cards-container .card h2 a {
  padding-bottom: 20px;
  font-size: 30px;
  color: black;
  text-shadow: 2px 2px 24px white;
}

#index .cards-container .card h2 a:hover {
  text-shadow: 2px 2px 24px blue;
  text-decoration: underline;
  color: blue;
}

#index .cards-container .card button {
  margin-top: 10px;
  border-radius: 7px;
  background-color: #0A1816;
  color: gray;
  font-weight: 900;
  padding: 10px 40px;
}

#index .cards-container .card button:hover {
  box-shadow: 2px 2px 24px blue;
  background-color: gray;
  color: #0A1816;
}

#index .cards-container .card .hide p {
  font-weight: 900;
}

#index .cards-container .card .hide input {
  border-radius: 7px;
  background-color: #0A1816;
  color: gray;
  font-weight: 900;
  padding: 10px 40px;
}

#index .cards-container .card .hide input:hover {
  box-shadow: 2px 2px 24px blue;
  background-color: gray;
  color: #0A1816;
}

#show {
  padding: 100px;
}

#show .show-nav {
  padding-bottom: 50px;
}

#show .show-nav a {
  font-size: 70px;
  color: black;
  font-weight: 900;
  text-shadow: 2px 2px 24px white;
  text-decoration: none;
}

#show .show-nav a:hover {
  text-decoration: underline;
}

#show .detail {
  margin-top: 50px;
  text-align: center;
  border-radius: 7px;
  padding: 50px 20px;
  width: 80%;
  margin: 0 auto;
  background-color: #949494;
}

#show .detail .img h2 {
  text-shadow: 2px 2px 24px white;
  font-size: 30px;
  font-weight: 900;
  padding: 30px;
}

#show .detail .img img {
  border-radius: 7px;
  box-shadow: 2px 2px 24px blue;
  margin-bottom: 40px;
}

#show .detail p {
  font-size: 20px;
  font-weight: 900;
  color: black;
  border-radius: 7px;
  background-color: #A18647;
  margin: 20px 0;
  padding: 20px 10px;
  text-shadow: 0 0 0 blue;
}

#show .detail h3 {
  font-size: 30px;
  font-weight: 900;
  padding-top: 20px;
  text-transform: uppercase;
  text-shadow: 0 0 10px white;
  padding-bottom: 20px;
}

#show .detail h4 {
  font-size: 30px;
  font-weight: 900;
  color: red;
  text-transform: uppercase;
  padding-bottom: 20px;
}

#show .detail h2 {
  font-size: 30px;
  text-shadow: 0 0 20px blue;
}

#welcome {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  color: white;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#welcome .title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 150px;
  color: black;
  font-weight: 900;
  text-shadow: 2px 2px 24px white;
}

#welcome a {
  font-weight: 900;
  color: #000033;
  font-size: 100px;
  text-shadow: 2px 2px 24px white;
  text-decoration: none;
}

#welcome a:hover {
  color: gray;
  text-shadow: 2px 2px 24px black;
  text-decoration: underline;
}

