#welcome {
    background-color: rgba(0,0,0,0.8);
    height: 100%;
    color: white;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .title {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-size: 150px;
        color: black;
        font-weight: 900;
        text-shadow: 2px 2px 24px white;
    }

    a {
        font-weight: 900;
        color: #000033;
        font-size: 100px;
        text-shadow: 2px 2px 24px white;
          text-decoration: none;

        &:hover {
            color: gray;
            text-shadow: 2px 2px 24px black;
            text-decoration: underline;

        }
    }
}
